.header
  .breadcrumbs
    - breadcrumbs.each.with_index do |bc, idx|
      - if idx > 0
        %span.separator= " ❭ "

      - if bc.link
        %a{href: bc.link}= bc.label
      - else
        %b= bc.label

  .since-version
    - if item.first_version
      %span{ title: "Estimation based on the documentation." } Since<sup>*</sup>
      = item.first_version

!= item.html
