%section.lists
  - components.each do |component, groups|
    .component
      %h2= component

      - groups.sort_by(&:media_type).each do |group|
        != link_to_file group, group.media_type

%section.metadata
  .source
    != link_to commit_url(release.commit_hash), "Source code"

  .changelog
    != link_to_file [ :changelog, release ], "Changes"

  .release-date
    %b Release date
    %time= release.commit_date.strftime("%F")
